In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../2018.csv')

In [3]:
data.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(7213446, 28)

In [5]:
null_col = data.isnull().sum()
null_col[null_col>0]

DEP_TIME                112317
DEP_DELAY               117234
TAXI_OUT                115830
WHEELS_OFF              115829
WHEELS_ON               119246
TAXI_IN                 119246
ARR_TIME                119245
ARR_DELAY               137040
CANCELLATION_CODE      7096862
CRS_ELAPSED_TIME            10
ACTUAL_ELAPSED_TIME     134442
AIR_TIME                134442
CARRIER_DELAY          5860736
WEATHER_DELAY          5860736
NAS_DELAY              5860736
SECURITY_DELAY         5860736
LATE_AIRCRAFT_DELAY    5860736
Unnamed: 27            7213446
dtype: int64

Drop Flight Number, Cancelled, Cancellation Code, Diverted: OP_CARRIER_FL_NUM, CANCELLED, CANCELLATION_CODE, DIVERTED.
Have to drop them as not useful in our context to predict delay of flight.
Drop Planned Departure Time, Actual Departure Time, Planned arrival time, Actual Arrival Time: CRS_DEP_TIME, DEP_TIME, CRS_ARR_TIME, ARR_TIME.
We drop them because we only keep the delay at departure and at arrival. But before droping, we should compute the time for all missing value of delay as it is not missing in the time.

In [ ]:
col_to_drop = ['OP_CARRIER_FL_NUM','CANCELLED','CANCELLATION_CODE','DIVERTED','CRS_DEP_TIME', 'DEP_TIME', 'CRS_ARR_TIME', 'ARR_TIME']