## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [39]:
# Your code here
sample_list_1=random.sample(range(101),80)
print(sample_list_1)
#for i in range(100):
#    print(i)

[88, 43, 36, 35, 89, 87, 23, 4, 8, 49, 71, 38, 27, 92, 69, 16, 37, 66, 11, 86, 14, 82, 9, 58, 52, 61, 2, 0, 7, 99, 75, 39, 100, 22, 57, 62, 45, 74, 76, 64, 55, 26, 17, 12, 24, 98, 48, 6, 3, 18, 70, 59, 34, 79, 96, 10, 90, 77, 46, 56, 68, 44, 67, 32, 20, 54, 78, 21, 29, 30, 63, 33, 93, 81, 13, 94, 60, 42, 41, 19]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [40]:
# Your code here
set1=set(sample_list_1)

if len(set1) == len(sample_list_1):
    print("same length")
else:
    print("not same length")

same length

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [41]:
# Your code here
sample_list_2=[random.choice(range(101)) for i in range(80)]

uniques=set(sample_list_2)
[(sample_list_2.count(i),i) for i in uniques]

[(1, 2),
 (1, 3),
 (2, 4),
 (2, 5),
 (1, 7),
 (2, 8),
 (1, 15),
 (1, 17),
 (3, 18),
 (2, 23),
 (2, 24),
 (1, 26),
 (1, 27),
 (3, 28),
 (1, 29),
 (1, 32),
 (2, 34),
 (2, 35),
 (1, 36),
 (1, 38),
 (2, 40),
 (1, 43),
 (2, 45),
 (1, 46),
 (1, 47),
 (3, 48),
 (2, 49),
 (1, 50),
 (1, 55),
 (1, 57),
 (2, 59),
 (1, 60),
 (1, 62),
 (1, 66),
 (1, 67),
 (1, 69),
 (1, 70),
 (1, 72),
 (1, 73),
 (1, 74),
 (1, 76),
 (1, 77),
 (1, 78),
 (1, 79),
 (1, 81),
 (2, 84),
 (5, 85),
 (2, 87),
 (1, 89),
 (1, 91),
 (1, 92),
 (1, 93),
 (2, 95),
 (2, 96),
 (1, 97)]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [42]:
# Your code here
set2=set(sample_list_2)

len(set2)

#if len(set2) == len(sample_list_2):
#    print("same length")
#else:
#    print("not same length")

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Your code here
set3=set1.difference(set2)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [44]:
# Your code here
set4=set2.difference(set1)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [45]:
# Your code here
set5=set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [46]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))

if (len(set1)+len(set2) == len(set3)+len(set4)+2*len(set5)):
    print("You found the relationship!")
else:
    print("Try another formula")

80 55 38 13 42
You found the relationship!

#### Create an empty set called `set6`.

In [30]:
# Your code here
set6=set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [31]:
# Your code here
set6.update(set3)
set6.update(set5)
set6

{0,
 1,
 2,
 3,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 30,
 33,
 34,
 36,
 37,
 38,
 39,
 40,
 41,
 43,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Check if `set1` and `set6` are equal.

In [32]:
# Your code here
if set1 == set6:
    print("equals")
else:
    print("not equals")

equals

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [36]:
# Your code here
if set2.issubset(set1):
    print("set1 contains set2")
else:
    print("set1 does not contain set2")
    
if set3.issubset(set1):
    print("set1 contains set3")
else:
    print("set1 does not contain set3")

set1 does not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [37]:
# Your code here
a = set3.union(set4) 
b = set5.union(a)
c = set1.union(set2)

if b == c:
    print("values are equal")
else:
    print("values are not equal")

values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [50]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 49, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 81, 82, 86, 87, 88, 89, 90, 92, 93, 94, 96, 98, 99, 100}
{2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 49, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 81, 82, 86, 87, 88, 89, 90, 92, 93, 94, 96, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
#faut convertir en liste et remove avec pop et l'index voulu

for e in list_to_remove:
    if e in set1:
        set1.remove(e)
        
print(set1)

{2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 48, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 74, 75, 76, 77, 78, 82, 86, 87, 88, 90, 92, 93, 94, 96, 98, 100}