# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
#Sub Problem 1: How to aggregate the  amount_spent for unique customers?
orders.groupby('CustomerID')['amount_spent'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
12352     2506.04
12353       89.00
12354     1079.40
12355      459.40
12356     2811.43
12357     6207.67
12358     1168.06
12359     6372.58
12360     2662.06
12361      189.90
12362     5226.23
12363      552.00
12364     1313.10
12365      641.38
12367      168.90
12370     3545.69
12371     1887.96
12372     1298.04
12373      364.60
12374      742.93
12375      457.50
12377     1628.12
12378     4008.62
12379      852.24
12380     2724.81
           ...
18242     2232.49
18245     2567.06
18246      596.10
18248      804.02
18249       95.34
18250      349.27
18251     4314.72
18252      526.67
18255      103.30
18257     2337.63
18259     2338.60
18260     2643.20
18261      324.24
18262      149.48
18263     1213.16
18265      801.51
18268       25.50
18269      168.60
18270      283.15
18272     3078.58
18273      204.00
18274      175.92
18276      335.86
18277      110.38
18278      173.90
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [4]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
quantile95=orders.groupby('CustomerID')['amount_spent'].sum().quantile(0.95)
quantile75=orders.groupby('CustomerID')['amount_spent'].sum().quantile(0.75)

In [22]:
#orders[orders['amount_spent']>quantile95].groupby('CustomerID').CustomerID
#orders.groupby('CustomerID').['amount_spent']>quantile95

Cust_quantile95=orders.groupby('CustomerID')['amount_spent'].sum()>=quantile95
Cust_quantile75=(orders.groupby('CustomerID')['amount_spent'].sum()<quantile95) & (orders.groupby('CustomerID')['amount_spent'].sum()>=quantile75)

In [27]:
Cust_quantile75

CustomerID
12346    False
12347     True
12348     True
12349     True
12350    False
12352     True
12353    False
12354    False
12355    False
12356     True
12357    False
12358    False
12359    False
12360     True
12361    False
12362     True
12363    False
12364    False
12365    False
12367    False
12370     True
12371     True
12372    False
12373    False
12374    False
12375    False
12377    False
12378     True
12379    False
12380     True
         ...
18242     True
18245     True
18246    False
18248    False
18249    False
18250    False
18251     True
18252    False
18255    False
18257     True
18259     True
18260     True
18261    False
18262    False
18263    False
18265    False
18268    False
18269    False
18270    False
18272     True
18273    False
18274    False
18276    False
18277    False
18278    False
18280    False
18281    False
18282    False
18283     True
18287     True
Name: amount_spent, Length: 4339, dtype: bool

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [ ]:
# your code here